


<%- include('./partials/messages') -%>


    <div class="container">
        <div class="row">
            <div class="col">
                <form class="" action="/users/login" method="POST">
            

                        <!-- logo-login -->
                        <div class="logo-login">
                            <a href="index"><img src="/public/Doc/img/logo.png" alt=""></a>
                        </div>
                        <h2>Login Here</h2>
                        <div class="form-group">
                            <label for="name">Email</label>
                            <input type="email" class="form-control" name="email" placeholder="Email">
                        </div>
                        <div class="form-group">
                            <label for="name">Password</label>
                            <input type="password" class="form-control" name="password" placeholder="Password">
                        </div>
                        <div class="form-group pt-30">
                            <input type="submit" class="form-control" name="submit" value="login">
                        </div>
            
            
                        <!-- Forget Password -->
                        <a href="#" class="forget">Forget Password</a>
                        <!-- Forget Password -->
                        <a href="/users/register" class="registration">Registration</a>

                </form>
            </div>
        </div>
    </div>
